.sudoku-board {
    width: 38vw;
    height: 32vw;
    border-collapse: collapse;
    color: #0015ff;
    background-color: #f4fbff;
    user-select: none;
    margin: 1em auto;
    table-layout: fixed;
    cursor: pointer;
    font-size: 5vh;
    font-family: 'Lucida Sans';
}

td {
    height: 7.5vh;
    width: 7.5vh;
    border: 1px solid;
    text-align: center;
    border-width: thin;
    border-color: #0015ff;
}

    .sudoku-board:hover {
        background-color: #e3f4ff;
        color: #0078ff;
    }

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
    gap: 20px;
}

    td:nth-child(3n) {
        border-right: solid;
        border-right-width: medium;
    }

    td:first-child {
        border-left: solid;
        border-left-width: medium;
    }

tr:nth-child(3n) td {
    border-bottom: solid;
    border-bottom-width: medium;
}

tr:first-child td {
    border-top: solid;
    border-top-width: medium;
}
