.sudoku-board {
    width: 90vh;
    height: 80vh;
    border-collapse: collapse;
    color: #0015ff;
    background-color: #f4fbff;
    user-select: none;
    margin: 1em auto;
    table-layout: fixed;
}

td {
    width: 1.15em;
    height: 1em;
    border: 1px solid;
    text-align: center;
    font-size: 100px;
    border-width: thin;
    border-color: #0015ff;
}

    td:nth-child(3n) {
        border-right: solid;
        border-right-width: medium;
        border-color: #0015ff;
    }

    td:first-child {
        border-left: solid;
        border-left-width: medium;
        border-color: #0015ff;
    }

tr:nth-child(3n) td {
    border-bottom: solid;
    border-bottom-width: medium;
    border-color: #0015ff;
}

tr:first-child td {
    border-top: solid;
    border-top-width: medium;
    border-color: #0015ff;
}

input[type="text"] {
    font-size: 85px;
    width: 100%;
    height: 100%;
    border: 0;
    background: transparent;
    text-align: center;
    caret-color: black;
}

.origin {
    color: #0015ff;
}

.safe {
    border-color: #0015ff;
    color: black;
}

.unsafe {
    border-color: #0015ff;
    color: red;
}